asgiref==3.6.0
backports.zoneinfo==0.2.1
certifi==2022.12.7
charset-normalizer==2.1.1
commonmark==0.9.1
defusedxml==0.7.1
Django==4.2.6
django-cors-headers==3.13.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Pillow==10.0.0
idna==3.4
multidict==6.0.4
sqlparse==0.4.3
tzdata==2022.6
typing-extensions==4.4.0
urllib3==1.26.13
Pygments==2.14.0
PySocks==1.7.1
pytz==2022.6